In [11]:
import pandas as pd
import numpy as np
laliga_df=pd.read_csv("Laliga.csv")
laliga_df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1

In [12]:
laliga_df.columns=laliga_df.iloc[0]   # Since all the column names are Unnamed, so making the 1st row as the column names
laliga_df.drop([0],inplace=True)  #Dropping the 1st row. Or else 1st row and column names will be similar.
laliga_df

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
7,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,-,-,4,5,2,5,16,1929,1994-95,3
8,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,-,1,4,5,4,4,18,1939-40,2012-13,2
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,-,2,3,4,4,14,1932-33,2015-16,1
11,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,-,1,12,1941-42,2014-15,1
12,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,-,-,-,2,4,5,11,1939-40,2012-13,4
13,13,Valladolid,42,1471,1466,463,384,619,1767,2180,-,-,-,1,1,1,3,1948-49,2013-14,4
14,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,-,1,1,2,-,1,5,1929,2011-12,2
15,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,-,1,1,2,2,1,7,1944-45,2015-16,2
16,16,Osasuna,37,1351,1318,426,327,565,1500,1834,-,-,-,2,2,2,6,1935-36,2016-17,4
17,17,Malaga,36,1314,1255,390,330,535,1421,1763,-,-,-,1,-,1,2,1949-50,2008-09,4
18,18,Oviedo,38,1174,1192,408,292,492,1642,1951,-,-,3,2,2,4,11,1933-34,2000-01,3
19,19,Mallorca,27,1148,988,333,256,399,1182,1371,-,-,2,-,2,1,5,1960-61,2012-13,3
20,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,-,1,1,1,1,1,5,1951-52,2015-16,2
21,21,Villarreal,17,970,646,266,172,208,892,789,-,1,1,2,3,2,9,1998-99,2013-14,2
22,22,Granada,23,667,742,218,175,349,819,1157,-,-,-,-,-,2,2,1941-42,2016-17,6
23,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,-,-,-,-,-,-,-,1977-78,2015-16,8
24,24,Elche,21,606,678,203,180,295,750,1022,-,-,-,-,1,1,2,1959-60,2014-15,5
25,25,Getafe,12,553,456,147,112,197,520,633,-,-,-,-,-,1,1,2004-05,2015-16,6
26,26,Hercules,20,538,628,184,149,295,716,1050,-,-,-,-,1,4,5,1935-36,2010-11,5
27,27,Tenerife,13,510,494,155,128,211,619,744,-,-,-,-,2,-,2,1961-62,2009-10,5
28,28,Murcia,18,445,586,145,143,298,607,992,-,-,-,-,-,-,-,1940-41,2007-08,11
29,29,Alaves,12,421,380,125,81,174,458,623,-,-,-,-,-,1,1,1930-31,2016-17,6
30,30,Levante,11,416,402,113,95,194,430,632,-,-,-,-,-,1,1,1963-64,2015-16,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,32,Sabadell,14,353,426,129,95,202,492,720,-,-,-,1,1,-,2,1943-44,1987-88,4
33,33,Cadiz,12,343,448,104,127,217,393,662,-,-,-,-,-,-,-,1977-78,2005-06,12
34,34,Logrones,9,293,346,96,92,158,291,489,-,-,-,-,-,-,-,1987-88,1996-97,7
35,35,Castellon,11,285,334,103,79,152,419,588,-,-,-,1,2,-,3,1941-42,1990-91,4
36,36,Albacete,7,277,270,76,76,118,320,410,-,-,-,-,-,-,-,1991-92,2004-05,7
37,37,Almeria,6,242,228,62,56,110,244,366,-,-,-,-,-,-,-,2007-08,2014-15,8
38,38,Cordoba,9,230,282,82,63,137,285,430,-,-,-,-,1,-,1,1962-63,2014-15,5
39,39,Compostela,4,190,160,52,45,63,199,241,-,-,-,-,-,-,-,1994-95,1997-98,10
40,40,Recreativo,5,188,186,50,46,90,202,296,-,-,-,-,-,-,-,1978-79,2008-09,8
41,41,Burgos CF,6,168,204,59,50,95,216,310,-,-,-,-,-,-,-,1971-72,1979-80,12
42,42,Pontevedra,6,150,180,53,44,83,165,221,-,-,-,-,-,-,-,1963-64,1969-70,7
43,43,Numancia,4,148,152,37,37,78,155,253,-,-,-,-,-,-,-,1999-00,2008-09,17
44,44,Eibar,3,132,114,35,27,52,139,167,-,-,-,-,-,-,-,2014-15,2014-15,10
45,45,Arenas,7,107,130,43,21,66,227,308,-,-,1,-,3,-,4,1929,1934-35,3
46,46,Real Burgos,3,96,114,26,44,44,101,139,-,-,-,-,-,-,-,1990-91,1992-93,9
47,47,Gimnastic,4,91,116,34,16,66,181,295,-,-,-,-,-,-,-,1947-48,2006-07,7
48,48,Extremadura,2,83,80,20,23,37,62,117,-,-,-,-,-,-,-,1996-97,1998-99,17
49,49,Merida,2,81,80,19,24,37,70,115,-,-,-,-,-,-,-,1995-96,1997-98,19
50,50,Alcoyano,4,76,108,30,16,62,145,252,-,-,-,-,-,-,-,1945-46,1950-51,10
51,51,Jaen,3,71,90,29,13,48,121,183,-,-,-,-,-,-,-,1953-54,1957-58,14
52,52,Real Union,4,56,72,21,14,37,153,184,-,-,-,-,-,1,1,1929,1931-32,6
53,53,AD Almeria,2,52,68,17,18,33,71,116,-,-,-,-,-,-,-,1979-80,1980-81,10
54,54,Europa,3,42,54,18,6,30,97,131,-,-,-,-,-,-,-,1929,1930-31,8
55,55,Lleida,2,40,68,13,14,41,70,182,-,-,-,-,-,-,-,1950-51,1993-94,16
56,56,Leganes,1,35,38,8,11,19,36,55,-,-,-,-,-,-,-,2016-17,2016-17,17
57,57,Xerez,1,34,38,8,10,20,38,66,-,-,-,-,-,-,-,2009-10,2009-10,20
58,58,Condal,1,22,30,7,8,15,37,57,-,-,-,-,-,-,-,1956-57,1956-57,16
59,59,Atletico Tetuan,1,19,30,7,5,18,51,85,-,-,-,-,-,-,-,1951-52,1951-52,16
60,60,Cultural Leonesa,1,14,30,5,4,21,34,65,-,-,-,-,-,-,-,1955-56,1955-56,15
61,61,Girona,1,-,-,-,-,-,-,-,-,-,-,-,-,-,-,2017-18,2017-18,9

# 1. Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data.

In [13]:
for each in laliga_df.columns:
        laliga_df[each].replace('-',0,inplace=True)

laliga_df #all the '-' are replaced with 0

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
7,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994-95,3
8,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1
11,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941-42,2014-15,1
12,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939-40,2012-13,4
13,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948-49,2013-14,4
14,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,5,1929,2011-12,2
15,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944-45,2015-16,2
16,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935-36,2016-17,4
17,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949-50,2008-09,4
18,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933-34,2000-01,3
19,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960-61,2012-13,3
20,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951-52,2015-16,2
21,21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,9,1998-99,2013-14,2
22,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941-42,2016-17,6
23,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977-78,2015-16,8
24,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959-60,2014-15,5
25,25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,1,2004-05,2015-16,6
26,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935-36,2010-11,5
27,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961-62,2009-10,5
28,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940-41,2007-08,11
29,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1,1930-31,2016-17,6
30,30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1,1963-64,2015-16,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943-44,1987-88,4
33,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977-78,2005-06,12
34,34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,0,1987-88,1996-97,7
35,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941-42,1990-91,4
36,36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,0,1991-92,2004-05,7
37,37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,0,2007-08,2014-15,8
38,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962-63,2014-15,5
39,39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,0,1994-95,1997-98,10
40,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978-79,2008-09,8
41,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971-72,1979-80,12
42,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963-64,1969-70,7
43,43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,0,1999-00,2008-09,17
44,44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,0,2014-15,2014-15,10
45,45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,4,1929,1934-35,3
46,46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,0,1990-91,1992-93,9
47,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947-48,2006-07,7
48,48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,0,1996-97,1998-99,17
49,49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,0,1995-96,1997-98,19
50,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945-46,1950-51,10
51,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953-54,1957-58,14
52,52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1,1929,1931-32,6
53,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979-80,1980-81,10
54,54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,0,1929,1930-31,8
55,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950-51,1993-94,16
56,56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,0,2016-17,2016-17,17
57,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,0,2009-10,2009-10,20
58,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16
59,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16
60,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15
61,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,2017-18,9

# 2.Print all the teams which have started playing between 1930-1980.

In [14]:
import re

# In the Debut column there are some strings like 1945-46. I have split those strings, and have taken only the 1st value.
#For eg: 1945-46 is splitted to 1945 and 46. I have taken only 1945.
for each in laliga_df['Debut']:
    if re.match("[0-9]{4}-[0-9]{2}",each):
        laliga_df['Debut'].replace(each,each.split('-')[0],inplace=True)


#The type of each elements in the column is string. So I have converted all the values to int, for convenient calculation
laliga_df['Debut']=pd.to_numeric(laliga_df['Debut'], errors='coerce')

In [15]:
count =0
for each in laliga_df['Debut']:
    if (each>=1930 and each<=1980):
        count=count+1

print("Total number of teams that played between 1930 and 1980 are:",count)

Total number of teams that played between 1930 and 1980 are: 37

# 3. Print the list of teams which came Top 5 in terms of points

In [16]:
laliga_df['Points']=pd.to_numeric(laliga_df['Points'], errors='coerce') #The data type of Points is String. So I have converted to integer

laliga_df.sort_values(by='Points',ascending=False)[['Team','Points']].iloc[0:5,:]

0             Team  Points
1      Real Madrid    4385
2        Barcelona    4262
3  Atletico Madrid    3442
4         Valencia    3386
5  Athletic Bilbao    3368

# 4. Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference. (5 points)
# Goal_diff_count = GoalsFor - GoalsAgainst

In [17]:
def Goal_diff_count(Team):
    return(Team['GoalsFor'] - Team['GoalsAgainst'])

laliga_df['GoalsFor']=pd.to_numeric(laliga_df['GoalsFor'], errors='coerce')
laliga_df['GoalsAgainst']=pd.to_numeric(laliga_df['GoalsAgainst'], errors='coerce')

laliga_df['Goal_diff_count']=laliga_df.apply(Goal_diff_count,axis=1)

laliga_df[['Team','Goal_diff_count']] #Prints the Goal_Diff_Count and the corresponding Teams

0                  Team  Goal_diff_count
1           Real Madrid             2807
2             Barcelona             2786
3       Atletico Madrid             1225
4              Valencia              929
5       Athletic Bilbao              931
6               Sevilla              307
7              Espanyol             -280
8         Real Sociedad               -2
9              Zaragoza             -164
10           Real Betis             -333
11  Deportivo La Coruna             -136
12           Celta Vigo             -346
13           Valladolid             -413
14     Racing Santander             -525
15       Sporting Gijon             -399
16              Osasuna             -334
17               Malaga             -342
18               Oviedo             -309
19             Mallorca             -189
20           Las Palmas             -399
21           Villarreal              103
22              Granada             -338
23       Rayo Vallecano             -328
24                Elche             -272
25               Getafe             -113
26             Hercules             -334
27             Tenerife             -125
28               Murcia             -385
29               Alaves             -165
30              Levante             -202
..                  ...              ...
32             Sabadell             -228
33                Cadiz             -269
34             Logrones             -198
35            Castellon             -169
36             Albacete              -90
37              Almeria             -122
38              Cordoba             -145
39           Compostela              -42
40           Recreativo              -94
41            Burgos CF              -94
42           Pontevedra              -56
43             Numancia              -98
44                Eibar              -28
45               Arenas              -81
46          Real Burgos              -38
47            Gimnastic             -114
48          Extremadura              -55
49               Merida              -45
50             Alcoyano             -107
51                 Jaen              -62
52           Real Union              -31
53           AD Almeria              -45
54               Europa              -34
55               Lleida             -112
56              Leganes              -19
57                Xerez              -28
58               Condal              -20
59      Atletico Tetuan              -34
60     Cultural Leonesa              -31
61               Girona                0

[61 rows x 2 columns]

In [18]:
max_index=laliga_df['Goal_diff_count'].idxmax() #Finds the index of the maximum goal difference count and the team
laliga_df[['Team','Goal_diff_count']].loc[max_index]

0
Team               Real Madrid
Goal_diff_count           2807
Name: 1, dtype: object

In [19]:
min_index=laliga_df['Goal_diff_count'].idxmin() #Finds the index of the minimum goal difference count and the team
laliga_df[['Team','Goal_diff_count']].loc[min_index]

0
Team               Racing Santander
Goal_diff_count                -525
Name: 14, dtype: object

# 5. Create a new column with name “Winning Percent” and append it to the data set (5 points)
Percentage of Winning = (GamesWon / GamesPlayed)*100
 If there are any numerical error, replace it with 0%

Print the top 5 teams which has the highest Winning percentage

In [20]:
def Winning_Percent(df):
    try:
        return((df['GamesWon']/df['GamesPlayed'])*100)
    except:
        return(0)      #This will return zero if 'division by zero error occurs'

laliga_df['GamesWon']=pd.to_numeric(laliga_df['GamesWon'], errors='coerce')
laliga_df['GamesPlayed']=pd.to_numeric(laliga_df['GamesPlayed'], errors='coerce')


laliga_df['Winning Percent']=laliga_df.apply(Winning_Percent,axis=1)
laliga_df['Winning Percent']

1     59.630702
2     57.241130
3     47.475134
4     44.557057
5     43.772629
6     41.112957
7     36.100533
8     37.532580
9     35.146022
10    35.069444
11    36.797386
12    34.511190
13    31.582538
14    31.722689
15    32.304527
16    32.321700
17    31.075697
18    34.228188
19    33.704453
20    33.485401
21    41.176471
22    29.380054
23    28.987730
24    29.941003
25    32.236842
26    29.299363
27    31.376518
28    24.744027
29    32.894737
30    28.109453
        ...
32    30.281690
33    23.214286
34    27.745665
35    30.838323
36    28.148148
37    27.192982
38    29.078014
39    32.500000
40    26.881720
41    28.921569
42    29.444444
43    24.342105
44    30.701754
45    33.076923
46    22.807018
47    29.310345
48    25.000000
49    23.750000
50    27.777778
51    32.222222
52    29.166667
53    25.000000
54    33.333333
55    19.117647
56    21.052632
57    21.052632
58    23.333333
59    23.333333
60    16.666667
61     0.000000
Name: Winning Percent, Length: 61, dtype: float64

In [21]:
laliga_df.nlargest(5,'Winning Percent')

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Goal_diff_count,Winning Percent
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,8,3,4,79,1929,1929,1,2807,59.630702
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,12,4,6,83,1929,1929,1,2786,57.241130
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,16,9,7,6,56,1929,2002-03,1,1225,47.475134
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,11,10,7,50,1931,1987-88,1,929,44.557057
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,10,5,8,10,49,1929,1929,1,931,43.772629

# 6.Group teams based on their “Best position” and print the sum of their points for all positions (5 points)
Eg: Best Position                Points

        1                              25000

        2                              7000

In [39]:
# Both BestPosition and Points are converted to numeric to ease arithmetic operations
laliga_df['BestPosition']=pd.to_numeric(laliga_df['BestPosition'], errors='coerce')
laliga_df['Points']=pd.to_numeric(laliga_df['Points'], errors='coerce')
group_by_BestPosition=laliga_df[['Team','BestPosition','Points']].groupby('BestPosition') #Grouped according to BestPosition
group_by_BestPosition.get_group(1) #This will print the values for Best Position 1

0                  Team  BestPosition  Points
1           Real Madrid             1    4385
2             Barcelona             1    4262
3       Atletico Madrid             1    3442
4              Valencia             1    3386
5       Athletic Bilbao             1    3368
6               Sevilla             1    2819
8         Real Sociedad             1    2573
10           Real Betis             1    1884
11  Deportivo La Coruna             1    1814

In [35]:
group_by_BestPosition.sum() # This shows the sum of their points for all positions

0             Points
BestPosition
1              27933
2               6904
3               5221
4               6563
5               1884
6               2113
7               1186
8               1134
9                 96
10               450
11               445
12               511
14                71
15                14
16                81
17               266
19                81
20                34